.GoodIceCream{
    background-image: url(https://i.imgflip.com/5tr33i.png);
    background-position: top;
    background-size: 100%;
}
.checkout-buff{
    min-height: 40vh;
}
.header-buff{
    min-height: 20vh;
}

